*{
  box-sizing: border-box;
}

body{
  background-color: black;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drum-machine{
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 25%;
  width: 700px;
  height:50%;
  display: flex; 
  flex-direction: row;
}

.keypadContainer{
  width: 70%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.drum-pad{
  background-color: lightgray;
  cursor: pointer;
  border-radius: 5%;
  justify-content: center;
  width: 70%;
  height: 70%;
  
}

.drum-pad:hover{
  background-color: rgb(218, 218, 218);
}
.drum-pad:active{
  background-color: grey;
}

h3{
  display: inline;
  margin: 0;
}